 [Desktop Entry]
  Name=fnmap
  Comment=A flutter based nmap gui
  Exec=fnmap
  Icon=${SNAP}/meta/gui/icon.png # replace name to your app name
  Terminal=false
  Type=Application
  Categories=Internet